<div class="bg">
  
</div>

<div class="container">
  <span class="title">
    Umbrella needed?
  </span><br/>
  <div class="box error" *ngIf="errorMessage">
    Error: {{errorMessage}}
  </div>
  <div class="box info" *ngIf="infoMessage">
    {{infoMessage}}
  </div>
  <div class="fin" *ngIf="weather_state_abbr">
    <img src="https://www.metaweather.com//static/img/weather/png/{{weather_state_abbr}}.png"/>
    <br/>
    <span class="answer" *ngIf="umbrellaneeded===true">Yes</span>
    <span class="answer" *ngIf="umbrellaneeded===false">Nope</span>
  </div>
  
</div>

<div class="bottom">
  This page uses <a href="https://www.metaweather.com">MetaWeather</a>.
</div>